{% extends "djpcms/yui/yui-g.html" %}{% block left_column %}
<div class="redis-panel">{% for panel in panels %}
 <div class="flat-panel">
  <div class="hd">
   <h2>{{ panel.name }}</h2>
  </div>
  <div class="bd">
   {{ panel.value }}
  </div>
 </div>{% endfor %}
</div>{% endblock %}{% block right_column %}
<div class="redis-panel">
<h2>Databases</h2>
{{ databases }}
{% if model_info %}
<table>
<tbody>
<thead>
<tr>{% for h in model_header %}
<th>{{ h }}</th>{% endfor %}
</tr>
</thead>
<tbody>{% for info in model_info %}
<tr>{% for v in info %}
<td>{{ v }}</td>{% endfor %}
</tr>{% endfor %}
</tbody>
</table>{% endif %}
</div>
{% endblock %}

