[run]
source = pulsar,examples
concurrency = greenlet
omit =
    *pulsar/utils/system/winservice.py
    *pulsar/utils/system/windowssystem.py
    *pulsar/utils/system/winprocess.py
    *pulsar/utils/system/appengine.py
    *pulsar/utils/autoreload.py
    *pulsar/async/cov.py
    *pulsar/async/dns.py
    *pulsar/apps/test/plugins/bench.py
    *pulsar/apps/test/cov.py
    *pulsar/apps/test/plugins/profile.py
    *pulsar/apps/test/setup.py
    *pulsar/apps/tx/*
    examples/httpbin/config.py
    examples/httpbin/throttle.py
    examples/philosophers/config.py
    examples/snippets/*
    examples/pulsards/*
    examples/tweets/*



[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
