*.pyc
*.pyd
*.so
*.o
*.def

# Python
__pycache__
build
docs/build
dist
htmlcov
htmlprof
.coverage
.coveralls-repo-token
MANIFEST
.settings
.python-version
release-notes.md
extensions/lib/lib.c
examples/tweets/settings.py

# Javascript
examples/node_modules
examples/.grunt

# IDE
.DS_Store
.project
.pydevproject
.idea

# Extensions
*~
.htmlprof
test.pid
*.egg-info
.eggs
.coveralls.yml
*.sqlite3
*.rdb
*.log
*.mp4
/config.py
