*.pyc
*.pyd
*.so
__pycache__
build
docs/build
dist
htmlcov
htmlprof
.coverage
.project
.pydevproject
cfg.py
MANIFEST
.settings
examples/webmail/config.py
*~
.htmlprof
examples/djangoapp/test.db
test.pid
