include .gitignore
include LICENSE
include README.rst
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
recursive-include tests *
recursive-include lib *
recursive-include docs *.rst
recursive-include examples *
